img{
    float: left;
    width: 130px;
    /* width: 9%; */
    border-radius: 40px;
    padding: 20px;
    /* margin-bottom: 100px; */
    border: 5px white;
    /* box-shadow: 0 3px 6px #999, 0 3px 6px #999; */
    /* opacity: .9; */
}