nav.navbar.navbar-default {
  background-color: rgb(27, 26, 26, .975);
  height: 2em;
  color: white;
  font-size: 70px;
  /* text-align: center; */
  /* width: 100%; */
    }
  
  .navbar-brand {
    font-size: 60px;
    /* margin-left: 50px; */
    /* text-align: center; */
    /* position: aboslute; */
    /* display: inline-block; */
    color: white;
  }
  
  .portfolio {
    /* font-size: 17px; */
    /* color: white; */
    /* padding: 1px; */
    /* height: 100%; */
    /* text-align: center; */
    /* width: 100%; */
  }