.card {
    border-radius: 40px;
    height: 11em;
    margin: 1rem;
    position: relative;
    display: inline-block;
    width: 300px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
  }
  
  .card > .img-container {
    border-radius: 40px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:rgb(0, 3, 5);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }
  
  .card > .img-container > img {
    border-radius: 30px;
    margin-top: 20px;
    /* height: 10 em; */
    width: 90%;
  }
  .card > .img-container:hover {
    background-color: rgb(2, 52, 85);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }