.App {
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color:rgb(238, 228, 228)
/* font-family: 'Dosis', sans-serif; */
}

.App-header {
  background-color: rgb(27, 26, 26, .975);
  height: 2em;
  padding: 20px;
  color: white;
  font-size: 70px;
}
/* 
.App-title {
  font-size: 1.5em;
} */

.App-intro {
  font-size: large;
}
.bio{
  font-size: 24px;
  text-align: left;
  width: 100%;
  color: white;
  margin: 24px;
  font-family: "Arial Black", Gadget, sans-serif;
  background: rgba(48, 46, 46, .731);
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(75, 73, 73), 2px 3px 6px rgb(75, 73, 73);
}
.center{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 25px 0 50px;
  justify-content: space-around;
  align-content: flex-start;
}
.bottom-margin{
  margin-bottom:3em;
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) {
    
}

@media only screen and (max-width: 825px) {
  body{
    background-image: url("");
    background-color:rgb(170, 165, 165);
  }
  .App-header {
    background-color: rgb(27, 26, 26, .975);
    height: 2em;
    padding: 20px;
    color: white;
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  body{
    background-image: url("");
    background-color:rgb(170, 165, 165);
  }
  .App-header {
    background-color: rgb(27, 26, 26, .975);
    height: 2em;
    padding: 5px;
    color: white;
    font-size: 45px;
  }
  .bio{
    font-size: 20px;
    text-align: left;
    width: 100%;
    color: white;
    margin: 20px;
    font-family: "Arial Black", Gadget, sans-serif;
    background: rgba(48, 46, 46, .731);
    padding:15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(75, 73, 73), 2px 3px 6px rgb(75, 73, 73);
  }
}

@media screen and (max-width: 600px) {
  body{
    background-image: url("");
    background-color:rgb(170, 165, 165);
  }
  .App-header {
    background-color: rgb(27, 26, 26, .975);
    height: 2em;
    padding: 5px;
    color: white;
    font-size: 30px;
  }
  .bio{
    font-size: 14px;
    text-align: left;
    width: 90%;
    color: white;
    margin: 24px;
    font-family: "Arial Black", Gadget, sans-serif;
    background: rgba(48, 46, 46, .731);
    padding:20px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(75, 73, 73), 2px 3px 6px rgb(75, 73, 73);
  }
}