body{
  background-color: rgb(226, 226, 220);
  background-attachment: fixed;
  background-size: 120%;
}

.App {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color:rgb(238, 228, 228)
/* font-family: 'Dosis', sans-serif; */
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.bio{
  font-size:1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  background-color: rgba(48, 46, 46, 0.431);
  padding:1em;
}
.center{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 25px 0 50px;
  justify-content: space-around;
  align-content: flex-start;
}
.bottom-margin{
  margin-bottom:3em;
}
@media screen and (max-width: 600px) {
  body{
    background-image: url("");
  }
}