body{
  /* background-image: url('../public/images/code.jpg'); */
  background-color: rgb(226, 226, 220);
  background-attachment: fixed;
  background-size: 120%;
}

.App {
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  color:rgb(238, 228, 228)
/* font-family: 'Dosis', sans-serif; */
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 10px;
  color: white;
  font-size: 70px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.bio{
  margin: 24px;
  font-family: "Arial Black", Gadget, sans-serif;
  background: rgba(48, 46, 46, .731);
  padding:20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgb(75, 73, 73), 2px 3px 6px rgb(75, 73, 73);
}
.center{
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  /* padding: 25px 0 50px; */
  justify-content: space-around;
  align-content: flex-start;
}
.bottom-margin{
  margin-bottom:3em;
}
@media screen and (max-width: 600px) {
  body{
    background-image: url("");
  }
}