body {
  background-color:rgb(170, 165, 165);
  background-image: url("https://www.digitalartsonline.co.uk/cmsdata/features/3641812/istock-471243406-portfolio-header.jpg");
  background-attachment: fixed;
  background-size: 120%;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
