body {
  background-color:rgb(170, 165, 165);
  background-image: url("./backgroundImages/porfolioImage.png");
  background-attachment: fixed;
  background-size: 120%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 600px) {
  body{
    /* background-image: url("""); */
    background-color: rgb(170, 165, 165);
  }
}