.aboutMe {
    /* color: whitesmoke; */
    /* padding: 20px; */
    font-size: 24px;
    text-align: left;
}

.portfolioHeader {
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 30px;
}